.sidebar {
  border-right: 4px solid #edf0f2;
      flex-shrink: 0;
      height: auto;
      left: 0;
      overflow: auto;
      overflow-x: hidden;
      padding-top: 72.46px;
       transition: all .5s ease-in-out;
      width: 291px;
    
  }

  .sidebar.close{
    width: 0px;
  }
  
  @media (max-width: 980px) {

    .sidebar{
      width: 241px;
    }

    .top{
      margin-left: -40px;
    }

    .nav{
      margin-left: -40px;
    }
  }